<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>User Details form sign up2</h1>
   Name: <%= user.name %><p>
   Email: <%= user.email %><p>
   Password: <%= user.password %><p>
  </body>
</html>
